img{
  max-width: 100%;
}

.noto-serif {
  font-family: noto Serif;
  font-optical-sizing: auto;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.sm-cart{
  position: absolute;
  visibility: hidden;
}

/* responsive for small/mobile devices */

@media screen and (max-width: 576px) {

  nav ul{
    display: none;
  }
.cart{
  visibility: visible;
}
.banner-container{
  flex-direction: column-reverse;
  margin-top: 28px;
}
.banner-content{
  margin-top: 20px;
}
.plant-container{
  grid-template-columns: repeat(2, 1fr);
}
.our-plants{
  margin-top: 20px;
}
}
